@model Game

<div class="col">
    <div class="card h-100" style="width: 18rem;">
        <img src="@Model.ImageThumbnailUrl" class="card-img-top" style="height:200px; object-fit:cover; width:100%">
        <div class="card-body">
            <h5 class="card-title"><a asp-controller="Game" asp-action="Details" asp-route-gameId="@Model.GameId">@Model.Name</a></h5>
            <p class="card-text">@Model.ShortDescription</p>
            <a class="btn btn-primary" id="cartButton" asp-controller="ShopCart" asp-action="AddItemToShopCart" asp-route-gameId="@Model.GameId">Adicionar ao carrinho</a>
        </div>
    </div>
</div>

